<%- include('partials/header') %> <%- include('partials/navbar') %>
<div class="container">
    <div class="row py-4">
        <h1>Home page</h1>
        <h3><%= 'Hello world'.toUpperCase() %></h3>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident
            laudantium et quisquam nobis aliquid omnis consequatur vero recusandae
            dolores, officiis, facere, corporis ratione sed nisi eius molestias natus
            reprehenderit sint?
        </p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident
            laudantium et quisquam nobis aliquid omnis consequatur vero recusandae
            dolores, officiis, facere, corporis ratione sed nisi eius molestias natus
            reprehenderit sint?
        </p>
    </div>
    </div>
<%- include('partials/footer') %>
